/*.imageupload{
	display: flex;
	flex-direction: column;
	width:60%;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom: 10px;
	background-color: white;
	border-top:1px solid lightgray;
	
	
}*/
.imageupload{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content:  center;
	margin: 0 auto
	/*place-items:center;*/

}


.image_upload{
	width:100%;
	padding-top: 4em;
	margin-top: 1.5em;
}
.input_caption{
/*	border:none;
*/
padding: 10px;
border: none;
border-radius: 0.5em;
border-bottom:1px solid reds;

}
input{
	margin-bottom: 2em;
}
.bg-primary{
	background-color: gray !important;
	color: white !important;
}